<html>
<body>
<form action = "/display" method = "post">
<p> Marketing Spent : </p>
<p><input type = "text" name = "ms"/></p>
<p> Administartion Spent : </p>
<p><input type = "text" name = "as"/></p>
<p> R and  Spent : </p>
<p><input type = "text" name = "rs"/></p>
<label for "states"> Select a State </label>
<select name = "s">
<option value ="New York">New York </option>
<option value ="Florida">Florida </option>
<option value ="California">California </option>
</select>

<p><input type = "submit" value = "submit" /> </p>
{{y}}
</form>
</body>
</html>